<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.acsm.module.transaction.sales.dal.mysql.commodity.CommodityMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <select id="findSales" resultType="cn.acsm.module.transaction.sales.dal.dataobject.shelves.ShelvesSalesRespDo">
        select
        id ,
        commodity_name as name
        FROM sales_commodity
        where deleted = 0
        and tenant_id =#{tenantId}
    </select>

    <select id="findSpecifications" resultType="cn.acsm.module.transaction.sales.dal.dataobject.shelves.ShelvesSalesRespDo">
        select
        id ,
        specifications_name AS name,
        packaging_type AS packagingType,
        packaging_type_name AS packagingTypeName,
        number,
        unit,
        unit_name AS unitName,
        packaging,
        packaging_name AS packagingName,
        measurement_unit AS measurementUnit,
        measurement_unit_name AS measurementUnitName,
        purchase_price AS purchasePrice,
        selling_price AS sellingPrice,
        CONCAT(number,unit_name,"/",packaging_name) AS specifications
        FROM sales_commodity_specification
        where deleted = 0
        AND commodity_id=#{salesId}
        AND tenant_id =#{tenantId}
    </select>


    <select id="getCommodityById" resultType="cn.acsm.module.transaction.sales.dal.dataobject.commodity.CommodityCustomDO">
        SELECT
            sc.id,
            sc.commodity_code,
            sc.article_no,
            sc.commodity_bar_code,
            sc.commodity_name,
            sc.type,
            sc.sort,
            sc.key_word,
            sc.manufacturer,
            sc.batch,
            sc.available_num,
            sc.provider_name,
            sc.provider_id,
            sc.old_provider_id,
            sc.spec_num,
            sc.lable_ids,
            sc.warn_stock_num,
            sc.weight_unit,
            sc.package_unit,
            sc.commodity_category_id,
            sc.manufacturer_name,
            sc.wholesale_price,
            sc.retail_price,
            sc.stock_num,
            sc.sale_state,
            sc.introduction,
            sc.trace_status,
            sc.plant_id,
            sc.commodity_plant_id,
            sc.sell_type,
            sc.add_type,
            sc.address,
            sc.num,
            sc.sync_status,
            sc.arrive_date,
            sc.commodity_type,
            sc.commodity_img,
            sc.publicity_price,
            sc.production_address,
            sc.origin_place,
            sc.ant_name,
            sc.create_id,
            sc.video_url,
            sc.expert_advice,
            sc.STATUS,
            sc.tenant_id,
            sc.remark,
            sc.create_time,
            sc.update_time,
            sc.creator,
            sc.updater,
            sc.deleted,
            scc.commodity_category_name
        FROM
            sales_commodity sc
        LEFT JOIN sales_commodity_category scc ON sc.commodity_category_id = scc.id
        WHERE
            sc.id = #{id}
        AND sc.deleted = 0
    </select>

</mapper>
